@font-face {
  font-family: "Poppins";
  src: url("../../public/assets/fonts/poppins.ttf")
}

@font-face {
  font-family: "Gilroy Heavy";
  src: url("../../public/assets/fonts/Gilroy-heavy.ttf");
}

:root {
  --blue: #1976D2;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

#__next {
  display: flex;
  flex-direction: row-reverse;
}

.header_class_style {
  color: var(--blue);
  font-weight: 700;
  font-size: 18px;
}

