.main {
  height: 100vh;
  min-height: 600px;
  width: 75%;
  min-width: 720px;
  display: flex;
  flex-direction: row-reverse;
  position: relative;
}

.container {
  overflow-y: hidden;
  width: 100%;
  height: 100vh;
  display: flex;
}

.widget {
  margin-top: 140px;
  width: 25%;
  height: 100%;
  position: relative;
  min-height: 600px;
}


.widget_title {
  width: 100%;
  text-align: left;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}