.container {
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    z-index: 100;
    padding: 40px;
}

.close_button {
    align-self: flex-end;
}

.calendar_container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.nav_link {
    text-decoration: none;
    transition: all 0.5s ease;
    height: 50px;
    padding: 5px;
    color: #fff;
    font-size: 20px;
}

@media (max-width: 1110px) {
    .container {
        display: none;
    }
}